 <h3>Definitions:</h3>
<ul>
<li><strong>Opt-out</strong>: Refers to students whose parents received exemptions from school vaccine requirements for personal or religious reasons.</li>
<li><strong>Medical</strong>: Refers to students who are exempt from school vaccine requirements for medical reasons.</li>
<li><strong>Conditional</strong>: Refers to students who have received some vaccines but under immunization schedules must wait before their next vaccinations. They are admitted on the condition that they become up to date.</li>
<li><strong>Up-to-date</strong>: Refers to students who are fully vaccinated.</li>
<li><strong>Overdue</strong>: Refers to students who have not met vaccination requirements and are subject to exclusion from school. The California Department of Public Health began tracking “overdue” students in the 2015-16 school year. </li>
</ul>