<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"><title>{{data.school_name}} Vaccine Database | EdSource</title></meta>
        {% include 'header.html' %}
        <link rel="stylesheet" type="text/css" href="/static/bar.css">
        <script type="text/javascript" src="/static/stacked-column-percent.js"></script>
    </head>
    <body>
        <div id="slick-contain">
            {% include 'nav.html' %}
            <div class="temp-charts" id="stacked-chart-1"></div>
            {% include 'footer.html' %}
        </div>
    </body>    
    <script type="text/javascript">
        stackedColumnChart.getAttr({{ json|safe }}, 'stacked-chart-1', 500,300, [50,100,30,40], colorbrewer['BuPu'], 6, false, null, null, ',g', 10, .1, 'TITLE', 'SUBHED', 'SOURCE', true);
    </script>
</html>
