<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"><title>{{data.school_name}} Vaccine Database | EdSource</title></meta>
        {% include 'header.html' %}
    </head>
    <body>
        <div id="slick-contain">
            {% include 'nav.html' %}
            <section id="slick-body">
                <div role="header" class="seventy">
                    <h2>{{data.school_name}}</h2>
                    <p>{{data.city}}, CA</p>
                    <p>{{data.type | capitalize}} School</p>
                </div>
                {% include 'social.html' %}
                <div class="fifty" role="def">{% include 'defs.html' %}</div>
                <div class="temp-charts" id="stacked-chart-1"></div>
                <div class="pretty-table fifty">
                    <table id="pretty-table" cellpadding=7>
                        <thead>
                            <th class="header">School Year</th>
                            <th class="header">Enrollment</th>
                            <th class="header">Opt-out</th>
                            <th class="header">Medical</th>
                            <th class="header">Conditional</th>
                            <th class="header">Up-to-date</th>
                            <th class="header">Overdue</th>
                        </thead>
                        {% if data.enroll_2008 is string %}
                        <tr>
                            <td>2008</td>
                            <td>{{('{0:,}'.format(data.enroll_2008 | int))}}</td>
                            <td>{{('{0:,}'.format(data.pbe_2008 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.pme_2008 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.con_2008 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.utd_2008 | int))}}</td>                                        
                            <td>N/A</td>                                        
                        </tr>                       
                        {% endif %}
                        {% if data.enroll_2009 is string %}
                        <tr>
                            <td>2009</a></td>
                            <td>{{('{0:,}'.format(data.enroll_2009 | int))}}</td>
                            <td>{{('{0:,}'.format(data.pbe_2009 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.pme_2009 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.con_2009 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.utd_2009 | int))}}</td>                                        
                            <td>N/A</td>                                        
                        </tr>                      
                        {% endif %}
                        {% if data.enroll_2010 is string %}
                        <tr>
                            <td>2010</td>
                            <td>{{('{0:,}'.format(data.enroll_2010 | int))}}</td>
                            <td>{{('{0:,}'.format(data.pbe_2010 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.pme_2010 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.con_2010 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.utd_2010 | int))}}</td>                                        
                            <td>N/A</td>                                        
                        </tr>
                       {% endif %}
                        {% if data.enroll_2011 is string %}
                        <tr>
                            <td>2011</td>
                            <td>{{('{0:,}'.format(data.enroll_2011 | int))}}</td>
                            <td>{{('{0:,}'.format(data.pbe_2011 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.pme_2011 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.con_2011 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.utd_2011 | int))}}</td>                                        
                            <td>N/A</td>                                        
                        </tr>                       
                        {% endif %}
                        {% if data.enroll_2012 is string %}
                        <tr>
                            <td>2012</td>
                            <td>{{('{0:,}'.format(data.enroll_2012 | int))}}</td>
                            <td>{{('{0:,}'.format(data.pbe_2012 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.pme_2012 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.con_2012 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.utd_2012 | int))}}</td>                                        
                            <td>N/A</td>                                        
                        </tr>                        
                        {% endif %}
                        {% if data.enroll_2013 is string %}
                        <tr>
                            <td>2013</td>
                            <td>{{('{0:,}'.format(data.enroll_2013 | int))}}</td>
                            <td>{{('{0:,}'.format(data.pbe_2013 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.pme_2013 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.con_2013 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.utd_2013 | int))}}</td>                                        
                            <td>N/A</td>                                        
                        </tr>                       
                        {% endif %}
                        {% if data.enroll_2014 is string %}
                        <tr>
                            <td>2014</td>
                            <td>{{('{0:,}'.format(data.enroll_2014 | int))}}</td>
                            <td>{{('{0:,}'.format(data.pbe_2014 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.pme_2014 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.con_2014 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.utd_2014 | int))}}</td>                                        
                            <td>N/A</td>                                        
                        </tr>                      
                        {% endif %}
                        {% if data.enroll_2015 is string %}
                        <tr>
                            <td>2015</td>
                            <td>{{('{0:,}'.format(data.enroll_2015 | int))}}</td>
                            <td>{{('{0:,}'.format(data.pbe_2015 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.pme_2015 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.con_2015 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.utd_2015 | int))}}</td>                                        
                            <td>{{('{0:,}'.format(data.overdue_2015 | int))}}</td>                                        
                        </tr>                                                                                                   
                        {% endif %}
                    </table>
                </div>
                <div role="search" class="fifty" style="margin-top:1.5em;">
                    <div>
                        <h3>Search Elementary Schools</h3>
                        <p>Search through our list of over 7,000 elementary schools below to learn about their vaccine rates. Only schools designated as currently operating by the California Department of Education for the 2015-16 school year are listed below. Only schools with 10 or more students are listed in our database.</p>
                        <input onclick="ga('send','event', 'VAX DATABASE', 'SEARCH SCHOOLS', '');" class="search-bar" link="yes" role="0" type="text" style="height:24px;" placeholder="Type School Name or District">
                    </div>
                </div>
                <div class="vax-results fifty" role="results" type="0"></div>
            </section>

            {% include 'footer.html' %}
        </div>
    </body>    
    <script type="text/javascript">
        stackedColumnChart.getAttr({{ json|safe }}, 'stacked-chart-1', 500,300, [50,100,30,40], colorbrewer['PuBuGn'], 5, false, null, null, ',g', 10, .1, '', 'Vaccination Rates: 2008-09 to 2015-16 School Years', 'Source: California Department of Public Health.<br> Years with missing data mean no data was available for that year.', true);

        jQuery(document).ready(function(){

            /* CONFIGURE TABLESORTER
            ======================================*/   
            jQuery('.pretty-table table').tablesorter({sortList: [[0,0]]});
        })

    </script>
</html>
