<section id="slick-header">
    <div class="slick-site">
        <h2><a href="http://edsource.org">EdSource</a></h2>
    </div>
    <div><h2><a href="http://localhost:5000">Vax Database Home</a></h2></div>
     <div class="slick-social-hed">
        <a onclick="ga('send','event', 'VAX DATABASE', 'TWITTER', '');" href="https://twitter.com/share?url=http%3A%2F%2Fedsource.org%2F%3Fpage_id=&via=edsource&text="><i class="fa fa-twitter"></i></a>
        <a onclick="ga('send','event', 'VAX DATABASE', 'FB', '');" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fedsource.org%2F%3Fpage_id="><i class="fa fa-facebook"></i></a>
        <a onclick="ga('send','event', 'VAX DATABASE', 'LINKED', '');" href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fedsource.org%2F%3Fpage_id=&title=: &summary=&source=EdSource"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="slick-nav-hed">
        <!--<a onclick="ga('send','\event', 'VAX DATABASE', '\SCHOOL LIST', '');" href="search.html">School List</a>-->
        <a onclick="ga('send','event', 'VAX DATABASE', 'FAQ', '');" href="http://edsource.org/2015/what-schools-and-parents-need-to-know-about-the-new-vaccination-law/82242">SB 277 FAQ</a>
        <a onclick="ga('send','event', 'VAX DATABASE', 'STORYLINE', '');" href="http://edsource.org/storylines/vaccinations-in-california">Vaccine Storyline</a>
    </div>

</section>