<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"><title>Search School Districts and Charters | EdSource</title></meta>
        {% include 'header.html' %}
    </head>
    <body>
        <section id="loading"></section>
        <div id="slick-contain">
            {% include 'nav.html' %}
            <section id="slick-body">
                <div role="intro" class="seventy">
                    <h2>Search All Schools</h2>
                    {% include 'social.html' %}
                    <p>Search through our list of over 7,000 kindergarten schools below to learn about their vaccine rates. Only schools designated as "active" by the California Department of Public Health for the 2015 school year are listed below. Only schools with 10 or more students are listed in our database.</p>
                </div>
                <div class="pretty-table seventy">
                    <section id="pretty-table-search-options">
                        <input id="pretty-table-search" type="text" style="height:24px;" placeholder="Search School Districts">
                        <div><p class="pretty-table-button" id="execute-search">Search</p></div>
                        <div><p class="pretty-table-button" id="reset-search">Reset</p></div>
                    </section>
                    <section>
                         <table cellpadding=7>
                            <thead>
                                <th class="header">School Name</th>
                                <th class="header">Type</th>
                                <th class="header">Enrollment</th>
                                <th class="header">Opt-out</th>
                                <th class="header">Medical</th>
                                <th class="header">Conditional</th>
                                <th class="header">Up-to-date</th>
                                <th class="header">Overdue</th>
                            </thead>
                            {% for d in data %}
                            {% if loop.index0 > 3 %}
                            <tr>
                                <td><a href="{{d.slug}}.html">{{d.school_name}}</a></td>
                                <td>{{d.type|capitalize}}</td>
                                <td>{{('{0:,}'.format(d.enroll_2015 | int))}}</td>
                                <td>{{('{0:,}'.format(d.pbe_2015 | int))}}</td>                                        
                                <td>{{('{0:,}'.format(d.pme_2015 | int))}}</td>                                        
                                <td>{{('{0:,}'.format(d.con_2015 | int))}}</td>                                        
                                <td>{{('{0:,}'.format(d.utd_2015 | int))}}</td>                                        
                                <td>{{('{0:,}'.format(d.overdue_2015 | int))}}</td>                                             
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </section>
                </div>  
            </section>  
            {% include 'footer.html' %}    
        </div>
    </body>    
    <script type="text/javascript">

        /* LOAD CHECK
        ===========================*/
        function onReady(callback) {
            var intervalID = window.setInterval(checkReady, 1000);
            function checkReady() {
                if (document.getElementsByTagName('body')[0] !== undefined) {
                    window.clearInterval(intervalID);
                    callback.call(this);
                }
            }
        }
        onReady(function () {jQuery('#loading').remove();});


        function searchTool(c){
            var jQueryrows = jQuery(c + ' tr');
            var allRows = jQuery(c + ' tr:not('+ c +' thead tr)');

            /* SEARCH STRING
            ======================================*/    
            var val = jQuery.trim(jQuery('#pretty-table-search').val()).replace(/ +/g, ' ').toLowerCase();

            if (val === ''){
                jQuery(allRows).css('display','table-row');
            }
            else if (val !== '') {
                 for (var i=0 ; i < allRows.length ; i++){
                    allRows[i].style.display = "table-row";

                    var testText = allRows[i].textContent;
                    testText = testText.replace(/\s+/g, ' ').toLowerCase();
                    if (testText.indexOf(val) == -1){
                        allRows[i].style.display = "none";
                    }
                 }
            }   
        }

        jQuery(document).ready(function(){

            /* SEARCH OPTIONS
            ======================================*/ 
            jQuery('#execute-search').on('click', function(){searchTool('#lcff-table');});
            jQuery('#pretty-table-search').on('keypress', function(e){var key = e.which;if (key == 13){searchTool('#lcff-table');}})

            jQuery('#reset-search').on('click', function(){
                jQuery('tr').css('display','table-row');
                jQuery('#pretty-table-search').val('');
                jQuery('.pretty-table tbody tr').slice(10).hide();
            })
        })

        window.onload = function(){

            /* TRUNCATION
            ======================================*/
            //hide all rows past 10th as default
            jQuery('.pretty-table tbody tr').slice(10).hide();

            //add navigation buttons
            jQuery('.pretty-table').append('<div class="pretty-table-nav"><p first="1"><a>Previous Rows</a></p><p status="0"><a>Show All</a></p><p last="10"><a>Next Rows</a></p></div>');

            // Next Rows
            jQuery('.pretty-table .pretty-table-nav p:eq(2)').on('click', function(){
                var last = parseInt(jQuery(this).attr('last')), total = jQuery('.pretty-table tbody tr').size();

                //show previous
                jQuery('.pretty-table .pretty-table-nav p:eq(0)').css('display', 'inline');
                
                //make sure we don't hide all the rows
                if (total === last){return;}
                else if ((last+10) > total){
                    jQuery('.pretty-table tbody tr').hide();
                    jQuery('.pretty-table tbody tr').slice(last, total).show();
                    jQuery(this).attr('last', total);
                }
                else {
                    jQuery('.pretty-table tbody tr').hide();
                    jQuery('.pretty-table tbody tr').slice(last, last+10).show();
                    last += 10;
                    jQuery(this).attr('last', last);
                }       

                //do we need a next?
                if (total === last){jQuery('.pretty-table .pretty-table-nav p:eq(2)').hide();}  

                //update previous data
                jQuery('.pretty-table .pretty-table-nav p:eq(0)').attr('first', last-9);

            });

            // Expand All or Collapse
            jQuery('.pretty-table .pretty-table-nav p:eq(1)').on('click', function(){
                var status = parseInt(jQuery(this).attr('status'));

                if (status == 0){
                    jQuery('.pretty-table tbody tr').show();
                    jQuery('.pretty-table .pretty-table-nav p:eq(1) a').text('Show 10 Rows');
                    jQuery('.pretty-table .pretty-table-nav p:eq(0)').attr('first', '1').hide();
                    jQuery('.pretty-table .pretty-table-nav p:eq(2)').attr('last', '10').hide();
                    jQuery(this).attr('status', '1');
                }
                else if (status == 1){
                    jQuery('.pretty-table tbody tr').slice(10).hide();
                    jQuery('.pretty-table .pretty-table-nav p:eq(1) a').text('Show All');
                    jQuery('.pretty-table .pretty-table-nav p:eq(2)').css('display', 'inline');
                    jQuery(this).attr('status', '0');
                }
                
            });

            // Previous Rows
            jQuery('.pretty-table .pretty-table-nav p:eq(0)').on('click', function(){
                var first = parseInt(jQuery(this).attr('first'));

                //show next
                jQuery('.pretty-table .pretty-table-nav p:eq(2)').css('display', 'inline');

                //make sure we don't hide all the rows
                if (first == 1){return;}
                else if ((first-10) < 1){
                    jQuery('.pretty-table tbody tr').hide();
                    jQuery('.pretty-table tbody tr').slice(0, 10).show();
                    jQuery(this).attr('first', 1);
                }
                else {
                    jQuery('.pretty-table tbody tr').hide();
                    jQuery('.pretty-table tbody tr').slice(first-11, first-1).show();
                    first -= 10;
                    jQuery(this).attr('first', first);
                }       

                //update next data
                jQuery('.pretty-table .pretty-table-nav p:eq(2)').attr('last', first+9);

                //do we need a previous?
                if (first === 1){jQuery('.pretty-table .pretty-table-nav p:eq(0)').hide();} 

            });
        }
    </script>
</html>